/* ===================================================================================
the article HEADING
=================================================================================== */

.article-head {
  .article-title {
    margin: 70px 0 10px 0;
    grid-column: 2 / span 12;
    @include break(tiny) {
      grid-column: 3 / span 10;
    }
    @include break(medium) {
      margin: 90px 0 7px 0;
      grid-column: 4 / span 8;
    }
    @include break(large) {
      margin: 114px 0 120px 0;
      grid-column: 3 / span 6;
    }
    @include break(huge) { grid-column: 3 / span 7; }
    @include break(mega) { grid-column: 4 / span 8; }
  }
    h1 {
    @include type-heading-medium;
    @include spaced-caps;
    @include type-serif;
    font-weight: 400;
    margin: 0;
  }
  .journal-splash__subtitle {
    @include type-heading-medium;
    margin: -3px 0 0 0;
    @include break(medium) {margin: -1px 0 1px 0;}
    @include break(large) {margin-bottom: 0}
  }
}

.article-head.image{ /* style for when the article head has a promo-image defined */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.article-head.no-image{ /* no promo image */
  
}


/* ===================================================================================
the article BODY
=================================================================================== */

.article-body {
  @include type-body;
  @include type-serif;
  



  /* type styles and spacing
  --------------------------------------------------------------------------------- */

  p {
    font-weight: 400;
    margin: 0 0 0.9em 0;
    @media screen and (min-width: 720px) and (max-width: $screen-medium) {
      line-height: 29px; // extra line-height while the paragraph is a bit wide.
    }
  }

  strong {
    @include type-serif;
    font-weight: 600;
  }

  a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    &:hover {
      border-bottom: 1px solid rgba(0,0,0,1);
      transition: border-bottom 0.5s;
    }
    &:active {
      background: $journal-color;
    }
  }

  h2 {
    @include type-heading-medium;
    @include type-serif;
    font-weight: 600;
    margin: 90px 0 24px 0;
    @include break(large) { margin-top: 114px; }
  }

  h3 {
    @include type-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;    
    margin: 60px 0 24px 0;
  }

  h4 {
    @include type-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;    
    @include spaced-caps;
    margin: 60px 0 12px 0;
    display: block;
  }

  h5 {
    @include type-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;    
    @include spaced-caps;
    margin: 60px 0 0 0;
  }

  ul {
    list-style-type: none;
    margin-left: $column-gap;
  }

  li {
    text-indent: -25px;
  }

  li:before {
    content: "— ";
  }

  .article__date {
    @include type-label;
    @include break(large) { margin-bottom: -7px; }
  }

  .article__content {
    margin-top: 70px;
    margin-bottom: 70px;
    @include break(medium) {
      margin-top: 90px;
      margin-bottom: 90px;
    }
    @include break(large) {
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 120px;
    }
  }
  
/* ===================================================================================
the article METADATA
=================================================================================== */

  .the-metadata {
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      margin-top: 20px;
    }

    li {
      text-indent: 0px;
    }

    li::before {
      content: "";
    }

    a {
      text-decoration: none;
      border-bottom: none;
      &:hover {
        color: rgba(0,0,0,0.6);
      }
    }
  }



  /* grid styles
  --------------------------------------------------------------------------------- */

  .the-metadata {
    grid-column: 2 / span 12;
    height: 0px;
    overflow: visible;
    @include break(tiny)   { grid-column: 3 / span 10; }
    @include break(medium) { grid-column: 4 / span 7; }
    @include break(large)  { grid-column: 3 / span 2; }
    @include break(mega)   { grid-column: 4 / span 2; }
  }

  p, h2, h3, h4, h5, h6, ul, ol, 
  blockquote, figure, 
  div.wp-block-image, div.exec-summary, div.wp-block-file {
    grid-column: 2 / span 12;
    // text-align: left;
    @include break(tiny)   { grid-column: 3 / span 10; }
    @include break(medium) { grid-column: 4 / span 8; }
    @include break(large)  { grid-column: 5 / span 6; }
    @include break(huge)   { grid-column: 6 / span 6; }
    @include break(mega)   { grid-column: 7 / span 6; }
  }


  // the case studies, which are just really complicated.
  div.case-study {
    grid-column: 1 / span 14;
    grid-template-columns: 0 repeat(12, 1fr) 0;
    display: grid;
    column-gap: $column-gap;
    background: $light-grey;
    margin: 40px 0;
    padding: 40px 0;
    p, h5 { grid-column: 2 / span 12; }
   .case-study-label {
      font-style: italic;
      margin-bottom: -4px;
    }
    h5 {
      @include type-heading-medium;
      @include type-sans;
      font-weight: bold;
      text-transform: none;
      margin: 0 0 1em 0;
      a {
        color: #000;
        text-decoration: none;
        border-bottom: none;
        &::after {
          content:' \00bb';
        }
        &:hover {
          color: rgba(0,0,0,0.7);
        }
      }
    }
    figure { 
      margin-top: 1em;
      margin-bottom: 0;
      display: grid; 
      column-gap: $column-gap;
      grid-column: 1 / span 14;
      grid-template-columns: 0 repeat(12, 1fr) 0;
      img { grid-column: 1 / span 14; }
      img.with-margins { grid-column: 2 / span 12; }
      figcaption { grid-column: 2 / span 12; }  
    }
    .image-border-bottom---grey { border-bottom: 1px solid #ddd; }
    // these two are for images that are full width, but need to be bumped off the edge of the module
    .case-study-with-left-padding { padding-left: 20px; }
    .case-study-with-right-padding { padding-right: 20px; }
    @include break(tiny)   { 
      grid-column: 1 / span 14; 
      margin: 70px 0;
      padding: 70px 0;
      p, h5 { grid-column: 3 / span 10; }
      figure {
        grid-column: 1 / span 14;
        img.with-margins { grid-column: 3 / span 10; }
        figcaption { grid-column: 3 / span 8; }      
      }
    }
    @include break(medium) { 
      grid-column: 3 / span 10; 
      grid-template-columns: repeat(10, 1fr);
      margin: 85px 0;
      padding: 85px 0;
      p, h5 { grid-column: 2 / span 8; }
      figure {
        grid-column: 1 / span 10;
        margin-top: 1em;
        grid-template-columns: repeat(10, 1fr);
        &:first-of-type { margin-top: 72px; }
        img { grid-column: 1 / span 10; }
        img.with-margins { grid-column: 2 / span 8; }
        figcaption { grid-column: 2 / span 8; }
      }
    }
    @include break(large)  { 
      grid-column: 4 / span 8; 
      grid-template-columns: repeat(8, 1fr);
      p, h5 { grid-column: 2 / span 6; }
      figure {
        grid-column: 1 / span 8;
        grid-template-columns: repeat(8, 1fr);
        img { grid-column: 1 / span 8; }
        img.with-margins { grid-column: 2 / span 6; }
        figcaption { grid-column: 2 / span 6; }
      }
    }
    @include break(huge)   { grid-column: 5 / span 8; }
    @include break(mega)   { grid-column: 6 / span 8; }
  }


  /* styles for excerpting text content 
  --------------------------------------------------------------------------------- */

  blockquote {
    background-color: #FFF9D8;
    margin: 60px 0 60px 0;
    padding: 24px 50px 24px 50px;
  }

  blockquote p {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  blockquote p.in-quotes {
    text-indent: -10px;
  }

  blockquote.pullquote-left, 
  blockquote.pullquote-right {
    @include type-serif;
    padding: 30px 40px 30px 40px;
    p {
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.02em;
    }
  }

  blockquote.pullquote-left { 
    grid-column: 1 / span 14;
    @include break(tiny)  { grid-column: 1 / span 11; }
    @include break(medium) { grid-column: 1 / span 9; }
    @include break(large) { grid-column: 1 / span 7; }
  }
  blockquote.pullquote-right { 
    grid-column: 1 / span 14; 
    @include break(tiny)  { grid-column: 4 / span 11; }
    @include break(medium) { grid-column: 6 / span 9; }
    @include break(large) { grid-column: 8 / span 7; }
  }

  cite {
    display: block;
    margin: 24px 100px 14px 0;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }

  .indepth {
    background:gray;
  }



  
  /* styles useful for images 
  --------------------------------------------------------------------------------- */

  .full-bleed {
    grid-column: 1 / span 12;
    width:100%;
  }

  img {
    width:100%;
  }

  .wp-block-image {
    figcaption {
      @include type-very-small;
      text-align: left;
      color: black;
      max-width: 450px;
      margin: 6px 0 40px 0;
      @include break(large) {
        margin: 7px 0 50px 0;
      }
    }
  }

}