/* ===================================================================================
the article HEADING
=================================================================================== */

.article-head {
  .article-title {
    margin: 70px 0 9px 0;
    grid-column: 2 / span 12;
    @include break(tiny) {
      grid-column: 3 / span 10;
    }
    @include break(small) { margin-bottom: 10px; }
    @include break(medium) {
      margin: 90px 0 11px 0;
      grid-column: 4 / span 8;
    }
    @include break(large) {
      margin: 114px 0 120px 0;
      grid-column: 3 / span 6;
    }
    @include break(huge) { grid-column: 3 / span 6; }
    @include break(mega) { grid-column: 4 / span 6; }
  }
    h1 {
    @include type-heading-medium-allCaps;
    line-height: 124%;
    @include type-serif;
    font-weight: 400;
    margin: 0;
  }
  .journal-splash__subtitle {
    line-height: 122%;
    margin: 0;
    @include break(medium) {margin: -1px 0 1px 0;}
    @include break(large) {margin-bottom: 0}
  }
}

.article-head.image{ /* style for when the article head has a promo-image defined */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}







/* ===================================================================================
the article BODY
=================================================================================== */


.journal .article-body p:last-of-type { margin-bottom: 0; }
/* for the bottom of the page 
it is set out here because the rest of article-body applies to more than just the journal, 
whereas we want this to only apply to the journal pages (i.e. NOT to the case-study pages)
*/


.article-body {
  @include type-body;
  @include type-serif;
  



  /* type styles and spacing
  --------------------------------------------------------------------------------- */

  p {
    font-weight: 400;
    margin-top: 0;
    @media screen and (min-width: 720px) and (max-width: $screen-medium) {
      line-height: 29px; // extra line-height while the paragraph is a bit wide.
    }
  }

  strong {
    @include type-serif;
    font-weight: 600;
  }

  a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    &:hover {
      border-bottom: 1px solid rgba(0,0,0,1);
      transition: border-bottom 0.5s;
    }
    &:active {
      background: $journal-color;
    }
  }

  h2 {
    @include type-heading-medium;
    @include type-serif;
    font-weight: 600;
    margin-top: 65px;
    @include break(small) { margin-top: 85px; }
    @include break(large) { margin-top: 114px; }
  }

  h3 {
    @include type-heading-small;
    @include type-serif;
    font-weight: 600;
    margin-top: 2.7em;
  }

  h4 {
    @include type-serif;
    @include spaced-caps;
    font-weight: 600;
    margin-top: 1.8em;
    display: block;
  }

  h5 {
    @include type-serif;
    font-style: italic;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1.8em;
    margin-bottom: 0;
  }

  p, h2, h3, h4, ul,
  .client-case-study .promo__text .title {
    // that last one modifies the promo module for the case study pages, since it is used a little differently there
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
    @include break(small)  { margin-bottom: 17px; }
    @include break(medium) { margin-bottom: 18px; }
    @include break(large)  { margin-bottom: 19px; }
    @include break(huge)   { margin-bottom: 20px; }
  }

  hr.wp-block-separator {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    margin-top: 32px; margin-bottom: 48px;
    @include break(small)  { margin-top: 34px; margin-bottom: 51px; }
    @include break(medium) { margin-top: 36px; margin-bottom: 34px; }
    @include break(large)  { margin-top: 38px; margin-bottom: 57px; }
    @include break(huge)   { margin-top: 40px; margin-bottom: 60px; }
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    padding-inline-start: 20px;
    @include break(tiny)   { padding-inline-start: 0; }
  }

  li {
    text-indent: -20px;
    @include break(small)  { text-indent: -21px; }
    @include break(medium) { text-indent: -22px; }
    @include break(large)  { text-indent: -24px; }
  }

  li:before {
    content: "— ";
  }

  .article__date {
    @include type-label;
    line-height: 122%;
    @include break(large) { margin-bottom: -7px; }
  }

  .article__content {
    margin-top: 70px;
    margin-bottom: 70px;
    @include break(medium) {
      margin-top: 90px;
      margin-bottom: 90px;
    }
    @include break(large) {
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 120px;
    }
  }
  






   /* article metadata
  --------------------------------------------------------------------------------- */

  .the-metadata {
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      margin-top: 20px;
    }

    li {
      text-indent: 0px;
      @include break(large) {
        padding-bottom: 2px;
      }
    }

    li::before {
      content: "";
    }

    a {
      text-decoration: none;
      border-bottom: none;
      &:hover {
        color: rgba(0,0,0,0.6);
      }
    }
  }







  /* grid styles
  --------------------------------------------------------------------------------- */

  .the-metadata {
    grid-column: 2 / span 12;
    // height: 0px;
    overflow: visible;
    @include break(tiny)   { grid-column: 3 / span 10; }
    @include break(medium) { grid-column: 4 / span 7; }
    @include break(large)  { grid-column: 3 / span 2; height: 0; }
    @include break(mega)   { grid-column: 4 / span 2; }
  }

  p, h2, h3, h4, h5, h6, ul, ol, hr,  
  blockquote, figure, code,
  div.wp-block-image, div.exec-summary, div.wp-block-file {
    grid-column: 2 / span 12;
    // text-align: left;
    @include break(tiny)   { grid-column: 3 / span 10; }
    @include break(medium) { grid-column: 4 / span 8; }
    @include break(large)  { grid-column: 5 / span 6; }
    @include break(huge)   { grid-column: 6 / span 6; }
    @include break(mega)   { grid-column: 7 / span 6; }
  }


  code {
    font-size: 0.95em;
    color: $medium-grey;
    margin-left: $column-gap;
    margin-bottom: 16px;
    @include break(small)  { margin-bottom: 17px; }
    @include break(medium) { margin-bottom: 18px; }
    @include break(large)  { margin-bottom: 19px; }
    @include break(huge)   { margin-bottom: 20px; }
    p {
      margin-bottom: 0;
    }
    .code-level-2 {
      margin-left: $column-gap;
    }
  }




  // the case studies, which are just really complicated.
  div.case-study {
    grid-column: 1 / span 14;
    grid-template-columns: 0 repeat(12, 1fr) 0;
    display: grid;
    column-gap: $column-gap;
    background: $light-grey;
    margin: 40px 0;
    padding: 40px 0;
    p, h5 { grid-column: 2 / span 12; }
   .case-study-label {
      font-style: italic;
      margin-bottom: -4px;
    }
    h5 {
      @include type-heading-medium;
      @include type-sans;
      font-weight: bold;
      font-style: normal;
      text-transform: none;
      margin: 0 0 1em 0;
      a {
        color: #000;
        text-decoration: none;
        border-bottom: none;
        &::after {
          content:' \00bb';
        }
        &:hover {
          color: rgba(0,0,0,0.7);
        }
      }
    }
    figure { 
      margin-top: 1em;
      margin-bottom: 0;
      display: grid; 
      column-gap: $column-gap;
      grid-column: 1 / span 14;
      grid-template-columns: 0 repeat(12, 1fr) 0;
      img { grid-column: 1 / span 14; }
      img.with-margins { grid-column: 2 / span 12; }
      figcaption { grid-column: 2 / span 12; }  
    }
    .image-border-bottom---grey { border-bottom: 1px solid #ddd; }
    // these two are for images that are full width, but need to be bumped off the edge of the module
    .case-study-with-left-padding { padding-left: 20px; }
    .case-study-with-right-padding { padding-right: 20px; }
    @include break(tiny)   { 
      grid-column: 1 / span 14; 
      margin: 70px 0;
      padding: 70px 0;
      p, h5 { grid-column: 3 / span 10; }
      figure {
        grid-column: 1 / span 14;
        img.with-margins { grid-column: 3 / span 10; }
        figcaption { grid-column: 3 / span 8; }      
      }
    }
    @include break(medium) { 
      grid-column: 3 / span 10; 
      grid-template-columns: repeat(10, 1fr);
      margin: 85px 0;
      padding: 85px 0;
      p, h5 { grid-column: 2 / span 8; }
      figure {
        grid-column: 1 / span 10;
        margin-top: 1em;
        grid-template-columns: repeat(10, 1fr);
        &:first-of-type { margin-top: 72px; }
        img { grid-column: 1 / span 10; }
        img.with-margins { grid-column: 2 / span 8; }
        figcaption { grid-column: 2 / span 8; }
      }
    }
    @include break(large)  { 
      grid-column: 4 / span 8; 
      grid-template-columns: repeat(8, 1fr);
      p, h5 { grid-column: 2 / span 6; }
      figure {
        grid-column: 1 / span 8;
        grid-template-columns: repeat(8, 1fr);
        img { grid-column: 1 / span 8; }
        img.with-margins { grid-column: 2 / span 6; }
        figcaption { grid-column: 2 / span 6; }
      }
    }
    @include break(huge)   { grid-column: 5 / span 8; }
    @include break(mega)   { grid-column: 6 / span 8; }
  }






  /* styles for excerpting text content 
  --------------------------------------------------------------------------------- */

  blockquote {
    background-color: #FFF9D8;
    margin: 60px 0 60px 0;
    padding: 24px 50px 40px 50px;
  }

  blockquote p {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  blockquote p.in-quotes {
    text-indent: -10px;
  }

  cite {
    display: block;
    margin: 24px 100px 0 18px;
    text-indent: -18px;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.002em;
    &:before { content: "— "; }
  }

  blockquote.pullquote,
  blockquote.pullquote-left, 
  blockquote.pullquote-right,
  blockquote.pullquote-full-width {
    @include type-serif;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 0px repeat(12, 1fr) 0px;
    column-gap: $column-gap;
    @include break(tiny)   { padding: 40px 0; }
    @include break(small)  { padding: 50px 0; }
    @include break(medium) { padding: 60px 0; margin: 90px 0; }
    @include break(large)  { margin: 120px 0; }
    @include break(huge)   { padding: 70px 0; }
    p {
      grid-row: 1;
      @include type-heading-medium;
      line-height: 130%;
      &:first-of-type { margin-top: -3px; }
      &:last-of-type  { margin-bottom: 0;}
      grid-column: 2 / span 12;
      @include break(small)  { letter-spacing: -0.02em; }
    }
    &.hang-punctuation p {
      text-indent: -7px; 
      @include break(tiny)   { text-indent: -7px; }
      @include break(small)  { text-indent: -8px; }
      @include break(medium) { text-indent: -9px; }
      @include break(large)  { text-indent: -10px; }
      @include break(huge)   { text-indent: -11px; }
    }
    &.no-bottom-margin {
      margin-bottom: 0;
    }
    &.bottom-of-the-page {
      margin-bottom: -70px; 
      @include break(medium) { margin-bottom: -90px; }
      @include break(large)  { margin-bottom: -120px; }
    }
    cite {
      grid-row: 2;
      grid-column: 2 / span 11;
      margin: 24px 0 0 18px;
    }
  }

  blockquote.big, 
  blockquote.pullquote-left.big, 
  blockquote.pullquote-right.big,
  blockquote.pullquote-full-width.big {
    p {
      @include type-heading-big;
      line-height: 120%;
    }
    &.hang-punctuation p {
      text-indent: -13px; 
      @include break(tiny)   { text-indent: -17px; }
      @include break(small)  { text-indent: -19px; }
      @include break(medium) { text-indent: -22px; }
      @include break(large)  { text-indent: -23px; }
      @include break(huge)   { text-indent: -24px; }
    }
  }



  blockquote.pullquote {
    grid-column: 1 / span 14;
    @include break(tiny)   { grid-column: 2 / span 12;   grid-template-columns: repeat(12, 1fr);}
    @include break(medium) { grid-column: 3 / span 10;   grid-template-columns: repeat(10, 1fr);}
    @include break(large)  { grid-column: 4 / span 8;    grid-template-columns: repeat(8, 1fr); }
    @include break(huge)   { grid-column: 5 / span 8;    grid-template-columns: repeat(8, 1fr); }
    @include break(mega)   { grid-column: 6 / span 8;    grid-template-columns: repeat(8, 1fr); }
    p {
      @include break(tiny)   { grid-column: 2 / span 10; }
      @include break(medium) { grid-column: 2 / span 8; }
      @include break(large)  { grid-column: 2 / span 6; }
    }
    cite {
      @include break(tiny)   { grid-column: 2 / span 9; }
      @include break(medium) { grid-column: 2 / span 7; }
      @include break(large)  { grid-column: 2 / span 5; }
    }
  }

  blockquote.pullquote-left { 
    grid-column: 1 / span 14;
    @include break(small)  { grid-column: 1 / span 11;   grid-template-columns: 0px repeat(10, 1fr); }
    @include break(medium) { grid-column: 1 / span 9;    grid-template-columns: 0px repeat(8, 1fr); }
    @include break(large)  { grid-column: 1 / span 8;    grid-template-columns: 0px repeat(7, 1fr); }
    p {
      @include break(tiny)   { grid-column: 3 / span 11; padding-right: 50px; }
      @include break(small)  { grid-column: 3 / span 9; }
      @include break(medium) { grid-column: 3 / span 7; }
      @include break(large)  { grid-column: 3 / span 6; }
    }
    cite {
      @include break(tiny)    { grid-column: 3 / span 9; }
      @include break(medium)  { grid-column: 3 / span 7; }
      @include break(large)   { grid-column: 3 / span 5; }
    }
  }
  blockquote.pullquote-right { 
    grid-column: 1 / span 14; 
    @include break(small)  { grid-column: 4 / span 11;   grid-template-columns: repeat(10, 1fr) 0px; }
    @include break(medium) { grid-column: 6 / span 9;    grid-template-columns: repeat(8, 1fr) 0px; }
    @include break(large)  { grid-column: 7 / span 8;    grid-template-columns: repeat(7, 1fr) 0px; }
    @include break(huge)   { grid-column: 8 / span 9;    grid-template-columns: repeat(8, 1fr) 0px; }
    @include break(mega)   { grid-column: 10 / span 9; }
    p { 
      @include break(tiny)   { grid-column: 3 / span 11; padding-right: 50px; }
      @include break(small)  { grid-column: 2 / span 9; }
      @include break(medium) { grid-column: 2 / span 7; }
      @include break(large)  { grid-column: 2 / span 6; }
    }
    cite {
      @include break(tiny)    { grid-column: 3 / span 9; }
      @include break(small)   { grid-column: 2 / span 9; }
      @include break(medium)  { grid-column: 2 / span 7; }
      @include break(large)   { grid-column: 2 / span 5; }
    }
  }

  blockquote.pullquote-full-width { 
    grid-column: 1 / span 14;
    @include break(huge)   { grid-column: 1 / span 16;    grid-template-columns: 0px repeat(14, 1fr) 0px; }
    @include break(mega)   { grid-column: 1 / span 18;    grid-template-columns: 0px repeat(16, 1fr) 0px; }
    p {
      @include break(tiny)   { grid-column: 3 / span 10; }
      @include break(small)  { grid-column: 3 / span 10; }
      @include break(medium) { grid-column: 4 / span 8; }
      @include break(large)  { grid-column: 5 / span 6; }
      @include break(huge)   { grid-column: 6 / span 6; }
      @include break(mega)   { grid-column: 7 / span 6; }
    }
    cite {
      @include break(tiny)    { grid-column: 3 / span 9; }
      @include break(medium)  { grid-column: 4 / span 7; }
      @include break(large)   { grid-column: 5 / span 5; }
      @include break(huge)    { grid-column: 6 / span 5; }
      @include break(mega)    { grid-column: 7 / span 5; }
    }
  }


  /* Blockquote color variations */
  
  blockquote.indigo           { background-color: indigo; }
  blockquote.darkblue         { background-color: darkblue; }
  blockquote.darkcyan         { background-color: darkcyan; }
  blockquote.darkolivegreen   { background-color: darkolivegreen; }
  blockquote.aquamarine       { background-color: aquamarine; }
  blockquote.bisque           { background-color: bisque; }
  blockquote.lightsalmon      { background-color: lightsalmon; }
  blockquote.lightsteelblue   { background-color: lightsteelblue; }

  // Client colors
  blockquote.plan-green       { background-color: rgb(69,179,140); }
  blockquote.index-lightgrey  { background-color: rgb(216,209,202); }

  blockquote.white-text { color: white; }

  .indepth {
    background:gray;
  }







  
  /* styles useful for images 
  --------------------------------------------------------------------------------- */

  .full-bleed {
    grid-column: 1 / span 12;
    width:100%;
  }

  img {
    width:100%;
  }

  .wp-block-image {
    line-height: 0;
    margin-left: 0;
    margin-right: 0;
    figcaption {
      @include type-very-small;
      text-align: left;
      color: black;
      max-width: 450px;
      margin: 6px 0 40px 0;
      @include break(large) {
        margin: 7px 0 50px 0;
      }
    }
  }

}


