.article-head {
  .article-title {
    margin: 70px 0 10px 0;
    grid-column: 3 / span 10;
    @include break(medium) {
      margin: 90px 0 7px 0;
      grid-column: 4 / span 8;
    }
    @include break(large) {
      margin: 114px 0 120px 0;
      grid-column: 3 / span 6;
    }
  }
    h1 {
    @include type-heading-small;
    @include spaced-caps;
    @include type-serif;
    font-weight: 400;
    margin: 0;
  }
  .journal-splash__subtitle {
    @include type-heading-small;
    margin: -3px 0 0 0;
    @include break(medium) {margin: -1px 0 1px 0;}
    @include break(large) {margin-bottom: 0}
  }
}

.article-body {
  @include type-body;
  @include type-serif;
  
  p {
    font-weight: 400;
    margin: 0 0 0.9em 0;
  }

  strong {
    @include type-serif;
    font-weight: 600;
  }

  a {
    color: $dark-grey;
  }

  h2 {
    @include type-heading-small;
    @include type-serif;
    font-weight: 600;
    margin: 120px 0 24px 0;
    @include break(medium) {grid-column: 2 / span 10;}
  }

  h3 {
    @include type-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;    
    margin: 60px 0 24px 0;
  }

  h4 {
    @include type-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;    
    @include spaced-caps;
    margin: 60px 0 12px 0;
    display: block;
  }

  h5 {
    @include type-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;    
    @include spaced-caps;
    margin: 60px 0 0 0;
  }

  ul {
    list-style-type: none;
    margin-left: $column-gap;
  }

  li {
    text-indent: -25px;
  }

  li:before {
    content: "— ";
  }

  .article__date {
    @include type-label;
    height: auto; 
    grid-column: 3 / span 8;
    @include break(medium) {
      grid-column: 4 / span 7;
    }
    @include break(large) {
      height: 100%;
      grid-column: 3 / span 2;
    }
  }

  .article__content {
    margin-top: 70px;
    grid-column: 3 / span 10;
    @include break(medium) {
      margin-top: 90px;
      grid-column: 4 / span 8;
    }
    @include break(large) {
      padding-top: 0px;
      margin-top: -7px;
      grid-column: 5 / span 6;
    }
  }

  img, p, blockquote, figure, ul, div, h2, h3, h4 {
    grid-column: 5 / span 6;
  }

/* styles for excerpting text content */

  blockquote {
    background-color: #FFF9D8;
    margin: 60px 0 60px 0;
    padding: 24px 50px 24px 50px;
  }

  blockquote p {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  cite {
    display: block;
    margin: 24px 100px 14px 0;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }

  blockquote p.in-quotes {
    text-indent: -10px;
  }

  blockquote.pullquote-left {
    grid-column: 1 / span 6;
    @include type-serif;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.02em;
    padding: 30px 40px 30px 40px;
  }

  .indepth {
    background:gray;
  }

/* styles useful for images */

  .full-bleed {
    grid-column: 1 / span 12;
    width:100%;
  }

  img {
    width:100%;
  }

  .wp-block-image {
    figcaption {
      @include type-very-small;
      text-align: left;
      color: black;
      max-width: 450px;
      margin: 6px 0 40px 0;
      @include break(large) {
        margin: 7px 0 50px 0;
      }
    }
  }

}