/* category colours */

$clients-color: #FF611E;
$clients-text: #000000;

$journal-color: #FFD700;
$journal-text: #000000;

$about-color: #EB335F;
$about-text: #000000;

$contact-color: #000000;
$contact-text: #FFFFFF;
