/* category colours */

$clients-color: #FF611E;
$clients-text: #000000;

$journal-color: #FFD700;
$journal-text: #000000;

$about-color: #EB335F;
$about-text: #000000;

$contact-color: #000000;
$contact-highlight-color: #FF00FF;
$contact-text: #FFFFFF;

$error-color: #F00;

$dark-grey: #282828;
$grey: #aaa;
$half-black: rgba(0, 0, 0, 0.5);
