@import '../colors.scss';
@import '../type.scss';

.bold-content{
  grid-template-areas:  ". . text text text text text text text . . . . ."
}

@media (max-width: 650px) {
  .bold-content{
    grid-template-areas:  " . text text text text text text text text text text .";
  }
}

.bold-content__text {
  grid-area: text;
  font-family: Graphik;
  font-size: 32px;
  line-height: 140%;
}

label{
  display: block;
  width:  100%;
  background-color: $dark-grey;
  color: #FFFFFF;
  padding: 20px;
}

input[type=text],
input[type=email],
textarea{
  width: 95%;
  border: 0px;
  background-color: $dark-grey;
}

input[type=submit]{
  @extend %block-button;
  background-color: $contact-highlight-color;
  color: #000000;
  display: inline-block;
  cursor: pointer;
}

input[type=submit]:hover{
  @extend %block-button;
  color: $contact-highlight-color;
  background-color: $dark-grey;
  display: inline-block;
}

.wpcf7-validation-errors{
  background: $error-color;
}
