@import 'type.scss';
@import 'colors.scss';

.atf-footer{
	width: 100%;
	color:#FFFFFF;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.03em;
	background-color: #000000;
	padding-top: 120px;
	display: grid;
	grid-template-areas: 
		". . heading heading heading heading heading heading . . . . . ."
		". . link link link link link link . . . . . ."
		". . social social social social social social . . . . . ."
		". . address address address address address address . . . . . ."
		". logo logo logo logo logo logo logo logo logo logo logo logo .";
	h2 {
		grid-area: heading;
		@include type-heading-small;
		font-family: Tiempos, serif;
		font-weight: 400;
		margin-bottom: 30px;
	}
}

.footer-contact-link {
	grid-area: link;
	margin-top: 20px;
	margin-bottom: 120px;
}

.footer-contact-link a {
	grid-area: link;
	@extend %block-button;
	@extend %block-button-type;
	color:black;
	background-color: white;
	&:hover {
		background-color: rgba(255,255,255,0.9);
	}
}

.social {
	grid-area: social;
	margin-bottom: 30px;
	height: 38px;
	img {
		height: 38px;
		width: 38px;
		margin-right: 5px;
	}
	a:hover {
		opacity: 0.9;
	}
}

.address {
	grid-area: address;
	color: $grey;
	margin-bottom: 108px;
	a {
		color: $grey;
		text-decoration: none;
	}
}

.footer-logo {
	grid-area: logo;
	bottom: 0;
	padding-right: 2px;
	img {
		width: 100%;
		vertical-align: bottom;
	}
}