
.bold-content{
  grid-template-areas:  " . text text text text text text text . . . ."
}


@media (max-width: 650px) {
  .bold-content{
    grid-template-areas:  " . text text text text text text text text text text .";
  }
}

.bold-content__text {
  grid-area: text;
  font-family: Graphik;
  font-size: 32px;
  line-height: 140%;
}