.splash__promo__title{
  font-family: Tiempos, serif;
  margin-bottom:0px;
  text-transform: uppercase;
  font-weight: 200;
}
.splash__promo__subtitle{
  font-family: Tiempos, serif;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 200;
}

/* Note: 

The visible grid is 12 columns, however the CSS grid has 14 columns.
This is done so that we can have an outer margin (gutter, in CSS parlance)
that is part of the grid instead of exterior to the grid, 
as this allows us to stretch across that space with grid settings.

This is why there are two full-stops next to the text settings below
where in the rendered web page you only see one column to the outside of the text.

*/

.promo-right{
  grid-template-areas: "image image image image image image image . text text text text . .";
}

.promo-left{  
  grid-template-areas: ". . text text text text . image image image image image image image";
}
.promo-double{
  grid-template-areas: ". . . lefttext lefttext lefttext lefttext . righttext righttext righttext righttext . .";
}

.promo-double__left{
  grid-area: lefttext;
  margin-right: -($column-gap/3);
  box-shadow: ($column-gap/2.5) 0px $light-grey;
}

@media (max-width: 650px) {
  .promo-left{
    grid-template-areas:
      "image image image image image image image image image image image image" 
      "text text text text text text text text text text text text";
  }
  .promo-right{
    grid-template-areas:
      "image image image image image image image image image image image image" 
      "text text text text text text text text text text text text";
  }

  .promo-left.text-first{
    grid-template-areas:
      "text text text text text text text text text text text text"
      "image image image image image image image image image image image image";
  }

  .promo-right.text-first{
    grid-template-areas:
      "text text text text text text text text text text text text"
      "image image image image image image image image image image image image";
  }

  .promo-double{
    grid-template-areas: 
      "lefttext lefttext lefttext lefttext lefttext lefttext lefttext lefttext lefttext lefttext lefttext lefttext"
      "righttext righttext righttext righttext righttext righttext righttext righttext righttext righttext righttext righttext";
  }
  .promo-double__left{
    box-shadow: 0px 0px;
  }
}

.promo-double__right{
  grid-area: righttext;
  padding-right: 30px;
}

.promo-right, .promo-left{
  margin-bottom: 120px;
}

.promo-left .promo__image{
  margin-right: calc(-$column-gap);
}

.promo-right .promo__image{
  margin-left: calc(-$column-gap);
}

.promo__text{
  grid-area: text;
}

.promo__image{
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  max-width: 100%;
  grid-area: image;
}

.promo__image img{
  width: calc(100% + 180px);
}

.promo-right .promo__image img {
  position: relative;
  right: 180px
}

.client__promo-logo{
  display: block;
  width: 130px;
}

.splash{
  grid-template-areas:  " . . intro intro intro intro intro intro . . . . . . "
                        " . . . . . . . promo promo promo promo promo promo .";
}

.splash__intro{
  grid-area: intro;
  margin-top: 100px;
  margin-bottom: 112px;
}

.splash__intro__title{
  @include type-heading-big;
  margin-top: 0;
  margin-bottom: -2px;
}

.splash__intro__description{
  @include type-heading-big;
  font-family: Tiempos, serif;
  margin-top: 0;
  margin-bottom: 0;
}

.splash__promo{
  margin-right: 10px;
  grid-area: promo;
  background-color: #FFD600;
  padding: $promoPadding;
  margin-bottom: 10px;
}


.splash__promo__date,
.light-archive__date{
  margin-top: -$promoPadding;
  margin-right: -$promoPadding;
  text-align:right;
  @extend %date;
  color: $half-black;
}

.splash__promo__excerpt{
  font-family: Tiempos, serif;
  font-style: italic; 
}

.splash__promo__link{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.splash__promo__link::after{
  content:' \00bb';
}

@media (max-width: 650px) {
  .splash{
    grid-template-areas:  " intro intro intro intro intro intro intro intro intro intro intro intro "
                          " promo promo promo promo promo promo promo promo promo promo promo promo ";
  }
  .splash__promo{
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.archive-post-light{
  height: 100%;
  background-color: #FFD600;
  padding: $promoPadding;
  margin-bottom: 10px;
  font-family: Tiempos, serif;
}

.light-archive__excerpt{
  font-style: italic; 
}

.light-archive__title{
  text-transform: uppercase;
}

.light-archive__link,
.light-archive__date{
  font-family: Graphik, sans-serif;
}

.light-archive__link{
  color:black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.light-archive__link::after{
  content:' \00bb';
}

.split-50-50-left{
  grid-area: auto / 2 / auto / 7;
}

.split-50-50-right{
  grid-area: auto / 7 / auto / 12;
}

@media (max-width: 800px) {
  .split-50-50-left{
    grid-area: auto / 1 / auto / 13;
  }
  
  .split-50-50-right{
    grid-area: auto / 1 / auto / 13;
  } 
}

.client__promo__sector{
  @include type-label;
}

.client__promo__title {
  @include type-heading-small;
  margin-top: 10px;
  margin-bottom: 36px;
}

.client__promo__excerpt{
  @include type-body;
  p {
    margin-top: 0;
    margin-bottom: 1em;
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}

a.client__promo__link{
  @extend %block-button;
  background-color: $light-grey;
  color: #000;
  display: inline-block;
}

a.client__promo__link:hover{
  background-color: $clients-color;
  color: #000;
}

.onward-journey-link{
  grid-column: 1 / 12 ;
  text-align: end;
  color:black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-family: Graphik, sans-serif;
}

.onward-journey-link::after{
  content:' \00bb';
}

.homepage-promo-container{
  background: rgba(245,245,245,1);
  background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 50%, rgba(245,245,245,1) 100%);
}

.more-clients-link{
  grid-column: 2 / span 6;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin-bottom: 30px;
}

.recently-header{
  margin-top: 50px;
  grid-column: 2 / span 6;
}

.promo-double__right{

}