/* Note: 

The visible grid is 12 columns, however the CSS grid has 14 columns.
This is done so that we can have an outer margin (gutter, in CSS parlance)
that is part of the grid instead of exterior to the grid, 
as this allows us to stretch across that space with grid settings.

This is why there are two full-stops next to the text settings below
where in the rendered web page you only see one column to the outside of the text.

*/




/* =======================================================================================
The home SPLASHh zone 
======================================================================================= */


.splash {
  grid-template-areas:  
    " . intro intro intro intro intro intro intro intro intro intro intro intro . "
    " promo promo promo promo promo promo promo promo promo promo promo promo promo promo ";
  @include break(small) {
    grid-template-areas:  
    " . . intro intro intro intro intro intro intro intro . . . . "
    " promo promo promo promo promo promo promo promo promo promo promo promo promo promo ";
  }
  @include break(medium) {
    grid-template-areas:  
    " . . intro intro intro intro intro intro intro intro . . . . "
    " . . . . . . promo promo promo promo promo promo promo .";
  }
  @include break(large) {
    grid-template-areas:  
    " . . intro intro intro intro intro intro . . . . . . "
    " . . . . . . . promo promo promo promo promo promo .";
  }
  @include break(huge) {
    grid-template-areas:  
    " . . intro intro intro intro intro intro intro . . . . . . ."
    " . . . . . . . . promo promo promo promo promo promo promo .";
  }
  @include break(mega) {
    grid-template-areas:  
    " . . . intro intro intro intro intro intro . . . . . . . . ."
    ". .  . . . . . . . promo promo promo promo promo promo promo promo .";
  }
}

.splash__intro {
  grid-area: intro;
  margin-top: 60px;
  margin-bottom: 40px;
  @include break(tiny)   { margin-top: 80px; margin-bottom: 55px; }
  @include break(small)  { margin-top: 80px; margin-bottom: 70px; }
  @include break(medium) { margin-top: 90px; margin-bottom: 100px; }
  @include break(large)  { margin-top: 100px; margin-bottom: 112px; }
}

.splash__intro__title {
  @include type-heading-big;
  margin-top: 0;
  margin-bottom: -2px;
}

.splash__intro__description {
  @include type-heading-big;
  font-family: Tiempos, serif;
  margin-top: 0;
  margin-bottom: 0;
}

.splash__promo {
  grid-area: promo;
  background-color: #FFD600;
  margin: 0;
  padding: 18px 20px 20px;
  @include break(small) {
    padding: 24px 0 27px 0;
  }
  @include break(medium) {
    margin-bottom: $column-gap;
    padding: 33px 36px 36px;
  }
  @include break(large) {
    padding: 37px 40px 40px;
  }
}

// the following two styles are just for the small–medium space.
.splash__promo-gridwrapper {
  @media screen and (min-width: $screen-small) and (max-width: $screen-medium - 1) {
    display: grid;
    grid-template-columns: 0px repeat(12, 1fr) 0px;
    column-gap: $column-gap;
    margin: 0;
  }
}
.splash__promo-gridwrapper-inner {
  @media screen and (min-width: $screen-small) and (max-width: $screen-medium - 1) {
    grid-column: 3 / span 10;
  }
}

.splash__promo__title,
.splash__promo__subtitle {
  @include type-heading-small;
  font-family: Tiempos, Georgia, serif;
  font-weight: 400;
  @include break(large) {padding-right: ($promoPadding/2);}
  @include break(huge)  {padding-right: $promoPadding;}
}

.splash__promo__title {
  margin-top: 0;
  margin-bottom: 0;
  @include spaced-caps;
}

.splash__promo__subtitle {
  margin-top: -1px;
  margin-bottom: 5px;
  font-style: italic;
  @include break(small)  { margin-bottom: 7px; }
  @include break(medium) { margin-bottom: 8px; }
  @include break(large)  { margin-bottom: 9px; }
}

.splash__promo__date,
.light-archive__date {
  @include type-label;
  color: $half-black;
  margin-bottom: ($promoPadding - 7px);
}

.splash__promo__excerpt {
  font-family: Tiempos, serif;
  font-style: italic; 
}

.splash__promo__link {
  @include block-button-type;
  color: $half-black;
  &:hover {
    color: #000;
  }
}

.splash__promo__link::after {
  content:' \00bb';
}

@media (max-width: 650px) {
  .splash{
    
  }
}









/* =======================================================================================
The home (and clients) PROMO zone 
======================================================================================= */

.content { z-index: 10; }

.homepage-promo-container{
  background: rgba(255,255,255,1);
  background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 20%, rgba(245,245,245,0) 80%, rgba(245,245,245,1) 100%);
}




/* Feature blocks: GRID SETTINGS
-------------------------------------------------------------------------------------- */

.client-promo__right {
  grid-template-areas:
    "image image image image image image image image image image image image image image" 
    ". text text text text text text text text text text text text .";
  @include break(tiny) {
    grid-template-areas: 
      "image image image image image image image image image image image image image image" 
      ". . text text text text text text text text text text . .";
  }  
  @include break(medium) { grid-template-areas: "image image image image image image image text text text text text . .";}
  @include break(large)  { grid-template-areas: "image image image image image image image . text text text text . .";}
  @include break(huge)   { grid-template-areas: "image image image image image image image image image . text text text text . ."; }
  @include break(mega)   { grid-template-areas: "image image image image image image image image . . text text text text text . . ."; }
  &.text-first {
    grid-template-areas:
      ". text text text text text text text text text text text text ."
      "image image image image image image image image image image image image image image"; 
    @include break(tiny) {
      grid-template-areas: 
        ". . text text text text text text text text text text . ."
        "image image image image image image image image image image image image image image";
    }  
    @include break(medium) { grid-template-areas: "image image image image image image image text text text text text . ."; }
    @include break(large)  { grid-template-areas: "image image image image image image image . text text text text . ."; }
    @include break(huge)   { grid-template-areas: "image image image image image image image image image . text text text text . ."; }
    @include break(mega)   { grid-template-areas: "image image image image image image image image . . text text text text text . . ."; }
    // identical to the non-text-first version, as that only applies to small screens.
  }
}

.client-promo__left {  
  grid-template-areas:
      "image image image image image image image image image image image image image image" 
      ". text text text text text text text text text text text text .";
  @include break(tiny)  {
    grid-template-areas: 
      "image image image image image image image image image image image image image image" 
      ". . text text text text text text text text text text . .";
  }  
  @include break(medium) { grid-template-areas: ". . text text text text text image image image image image image image"; }
  @include break(large)  { grid-template-areas: ". . text text text text . image image image image image image image"; }
  @include break(huge)   { grid-template-areas: ". . text text text text . image image image image image image image image image"; }
  @include break(mega)   { grid-template-areas: ". . . text text text text text . . image image image image image image image image"; }
  &.text-first {
    grid-template-areas:
      ". text text text text text text text text text text text text ."
      "image image image image image image image image image image image image image image"; 
    @include break(tiny) {
      grid-template-areas: 
        ". . text text text text text text text text text text . ."
        "image image image image image image image image image image image image image image";
    }
    @include break(medium) { grid-template-areas: ". . text text text text text image image image image image image image"; }
    @include break(large)  { grid-template-areas: ". . text text text text . image image image image image image image"; }
    @include break(huge)   { grid-template-areas: ". . text text text text . image image image image image image image image image"; }
    @include break(mega)   { grid-template-areas: ". . . text text text text text . . image image image image image image image image"; }
    // identical to the non-text-first version, as that only applies to small screens.
  }
}



/* The promo-double module 
-------------------------------------------------------------------------------------- */

/* ---------- Non-grid settings ---------- */ 
.promo-double {
  position: relative;
  text-align: center;
  @include break(small)  { border-top: 1px solid #ddd; }
  @include break(medium) { border-top: none; margin-bottom: 90px; }
  @include break(large)  { margin-bottom: 120px; }
}

.client-promo-double__left, 
.client-promo-double__right {
  display: grid;
  grid-column: 1 / span 14;
  grid-template-columns: 0px repeat(12, 1fr) 0px;
  column-gap: $column-gap;
  border-top: 1px solid #ddd;
  margin-bottom: 0; // on mobile, no margin
  padding-top: 40px;
  align-self: start;
  align-items: center;
  text-align: left;
  @include break(tiny)   { padding-top: 70px; }
  @include break(small)  { padding-top: 40px; border-top: none; }
  @include break(medium) { padding-bottom: 40px; }
}



/* ---------- Grid (and spacing) settings ---------- */

.promo-double__divider {
  display: none;
  position: absolute;
  @include break(small) {
    display: inline-block;
    width: 1px;
    min-height: 100%;
    background: #ddd;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  @include break(medium) {
    width: 8px;
    margin-left: -4px;
    background: $light-grey;
  }
}

.promo-double__image {
  max-height: none; 
  overflow: hidden;
  height: 180px;
  grid-row: 2 / 2;
  @include break(medium) { 
    grid-row: 1 / 1;
    height: auto; 
  }
  img {
    display: block;
    width: calc(100% + 200px);
    @include break(medium) { width: calc(100% + 60px); }
  }
}

.client-promo-double__left, 
.client-promo-double__right {
  .promo-double__image {
    grid-column: 1 / span 14;
    img {
      margin-left: -100px;
      left: -100px;
      right: 100px;
    }
  }
}



.client-promo-double__left {
  @include break(small) {
    grid-column: 1 / span 7;
    grid-template-columns: 0px repeat(6, 1fr);
    .promo-double__text  { grid-column: 3 / span 5; padding-right: 20px; }
    .promo-double__image { 
      grid-column: 1 / span 7; 
      img {
        margin-left: -200px;
        left: -200px;
        right: 200px;
      }
    }
  }
  @include break(medium) {
    .promo-double__image { 
      grid-column: 1 / span 2; 
      img {
        margin-left: -60px; 
        left: -60px; 
        right: 60px;
      }
    }
  }
  @include break(large) {
    .promo-double__text  { grid-column: 4 / span 4; padding-right: 30px; }
    .promo-double__image { grid-column: 1 / span 3; }
  }
  @include break(huge) {
    grid-column: 1 / span 8;
    grid-template-columns: 0px repeat(7, 1fr);
    .promo-double__text  { grid-column: 4 / span 4; }
  }
  @include break(mega) {
    grid-column: 1 / span 9;
    grid-template-columns: 0px repeat(8, 1fr);
    .promo-double__text  { grid-column: 5 / span 4; }
  }
}

.client-promo-double__right {
  @include break(small) {
    grid-column: 8 / span 7;
    grid-template-columns: repeat(6, 1fr) 0px;
    .promo-double__text  { grid-column: 1 / span 5; padding-left: 20px; }
    .promo-double__image { 
      grid-column: 1 / span 7; 
      img {
        left: 0;
        margin-left: 0;
      }
    }
  }
  @include break(medium) {
    .promo-double__image { grid-column: 6 / span 2; }
  }
  @include break(large) {
    .promo-double__text { 
      grid-column: 1 / span 4; 
      padding-left: 30px;
    }
    .promo-double__image { grid-column: 5 / span 3; }
  }
  @include break(huge) {
    grid-column: 9 / span 8;
    grid-template-columns: repeat(7, 1fr) 0px;
    .promo-double__text  { grid-column: 2 / span 4; }
    .promo-double__image { grid-column: 6 / span 3; }
  }
  @include break(mega) {
    grid-column: 10 / span 9;
    grid-template-columns: repeat(8, 1fr) 0px;
    .promo-double__text  { grid-column: 2 / span 4; }
    .promo-double__image { grid-column: 6 / span 4; }
  }
}

.promo-double__text {
  align-self: start;
  grid-column: 2 / span 12; 
  @include break(tiny) { grid-column: 3 / span 10; }
  /* 
  once we get to size=small, 
  the grid settings for this 
  are set in the client-promo-double__right and __left classes
  */
}
















/* Feature blocks: LAYOUT SETTINGS
-------------------------------------------------------------------------------------- */


/* ---------- The primary blocks ---------- */

.client-promo__left, .client-promo__right {
  margin-bottom: 0; // on mobile, no margin
  border-top: 1px solid #ddd;
  &:first-of-type { border-top: none; }
  @include break(small)  { 
    padding-bottom: 30px;  
    &.text-first { padding-bottom: 0; }
  }
  @include break(medium) { 
    border-top: none; 
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 90px;
  }
  @include break(large) {
    margin-bottom: 120px;
  }
}






/* ---------- The text block ---------- */

.promo__text { 
  grid-area: text; 
  padding-top: 40px; // on mobile, add space between the text and image or divider
  @include break(tiny)   { padding-top: 70px; }
  @include break(medium) { padding-top: 0; }
}

.promo__text,
.client-promo-double__left, 
.client-promo-double__right { 

  .sector { @include type-label; }
  
  .title {
    @include type-heading-small;
    margin-top: 4px;
    margin-bottom: 15px;
    @include break(tiny) { margin-bottom: 30px; }
  }
  
  .excerpt {
    @include type-body;
    @include type-serif;
    p {
      margin-top: 0;
      margin-bottom: 0.8em;
      &:last-of-type { margin-bottom: 36px; }
    }
    @include break(tiny) {
      p { 
        margin-bottom: 0.9em;
        &:last-of-type { margin-bottom: 34px; }
      }
    }
  }
  
  .promo-bottom {
    position: relative;
    height: 86px; // this is the height of the button + the desired margin, 46 + 40
    @include break(tiny) { height: 116px; } // 46 + 70
    @include break(small) {
      height: auto;
      margin-bottom: 40px; // this only applies to the modules with images at the top
    }
    @include break(medium) {
      margin-bottom: 0;
    }

    .bottom-inner {
      position: absolute;
      height: 46px;
      overflow: visible;
      width: 100%;
      @include break(tiny)   { height: 46px; }
      @include break(small) {
        position: static;
        height: auto;
      }
    }

    a.link {
      @include block-button;
      @include block-button-type;
      background-color: $light-grey;
      color: #000;
      display: inline-block;
      &:hover {
        background-color: $clients-color;
        color: #000;
      }
      @include break(small)  { margin-bottom: 36px; }
      @include break(large) { margin-bottom: 40px; }
    }

    img.logo {
      display: block;
      position: relative;
      float: right;
      max-width: 94px;
      max-height: 77px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @include break(tiny) {
        max-width: 110px;
        max-height: 94px;
      }
      @include break(small) {
        display: block;
        position: static;
        float: none;
        width: auto;
        height: auto;
        top: auto;
        transform: none;
      }
      @include break(medium) {
        max-width: 120px;
        max-height: 102px;
      }
      @include break(large) {
        max-width: 128px;
        max-height: 113px;
      }
    }
  }
} // end text block







/* ---------- The image block ---------- */
.promo__image {
  grid-area: image;
  overflow: hidden;
  max-width: 100%;
  min-width: 100px;
  max-height: 280px;
  height: 280px;
  text-align: center;
  position: relative;
  
  @include break(tiny) { 
    max-height: 330px; 
    height: 330px; 
  }
  @include break(small) {
    max-height: 400px; 
    height: 400px; 
  }
  @include break(medium) { 
    max-height: none; 
    height: auto;
  }

  img {
    position: absolute;
    width: 120%;
    left: 50%;
    margin-left: -60%;
    &.mobile__flowing-up { bottom: 0; }
    @include break(medium) {
      width: calc(100% + 180px);
      left: 0;
      margin-left: 0;
      display: block;
      position: static;
      &.desktop__extra-width { width: calc(100% + 360px); }
    }
  }
}

.client-promo__right .promo__image img {
  @include break(medium) {
    position: relative;
    right: 180px;
    left: -180px;
    &.desktop__extra-width {
      right: 360px;
      left: -360px;
    }
  }
}



/* ---------- Helper classes for modifying images on small screens ---------- */
// these are setup in a non-standard way because I don't know how to say "after size X, ignore these rules.
@media screen and (max-width: $screen-tiny - 1) {
  &.mobile__margin-left {
    grid-column: 2 / span 14;
    img {
      width: calc(100% + 40px);
      left: 0;
      margin-left: 0;
    }
  }
  &.mobile__margin-right {
    grid-column: 1 / span 13;
    img {
      width: calc(100% + 40px);
      left: -20px;
      margin-left: -20px;
      right: 40px;
    }
  }
  &.mobile__shorter {
    max-height: 220px;
    height: 220px
  }
}
@media screen and (min-width: $screen-tiny) and (max-width: $screen-small - 1) {
  .mobile__margin-left {
    grid-column: 3 / span 12;
    img {
      width: calc(100% + 60px);
      left: 0;
      margin-left: 0;
    }
  }
  .mobile__margin-right {
    grid-column: 1 / span 12;
    img {
      width: calc(100% + 60px);
      left: -30px;
      margin-left: -30px;
      right: 60px;
    }
  }
  &.mobile__shorter {
    max-height: 280px;
    height: 280px
  }
}
@media screen and (min-width: $screen-small) and (max-width: $screen-medium - 1) {
  .mobile__margin-left {
    grid-column: 3 / span 12;
    img {
      width: calc(100% + 120px);
      left: 0;
      margin-left: 0;
    }
  }
  .mobile__margin-right {
    grid-column: 1 / span 12;
    img {
      width: calc(100% + 120px);
      left: -60px;
      margin-left: -60px;
      right: 1200px;
    }
  }
  .mobile__shorter {
    max-height: 360px;
    height: 360px
  }
}




/* ---------- The "see more projects" link at the bottom ---------- */

.more-clients {
  border-top: 1px solid #ddd;
  padding-top: 8px;
  padding-bottom: 16px;
  @include break(medium) { border-top: none; }
}

.more-clients-link {
  @include type-heading-big;
  font-weight: 800;
  grid-column: 2 / span 12;
  text-decoration: none;
  color: $clients-color;
  &:hover { color: #000; }
  @include break(tiny) { grid-column: 3 / span 10; }
  @include break(medium) {
    color: #000;
    &:hover { color: $clients-color; }
  }
  @include break(mega) {
    grid-column: 4 / span 10;
  }
}




