.journal-splash {
  grid-template-areas: ". . text text text text text image image image image image image image";
  // margin: 114px 0 120px 0;

}

@media (max-width: 650px) {
  .journal-splash {
    grid-template-areas: " image image image image image image image image image image image image"
    " text text text text text text text text text text text text";
  }
}

.journal-splash__text {
  padding: 114px 0 120px 0;
  grid-area: text;
}

.journal-splash__image {
  grid-area: image;
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  // max-width: 100%;
}

.journal-splash__image img {
  // object-fit: cover;
  // object-position: 50% 50%;
  // width: 100%
  display: block;
  object-fit: cover;
  width: 200%;
  // max-height: 100%;
  // max-width: 100%;

}

.cover {
}

.journal-splash__kicker {
  @extend %kicker;
}

.journal-splash__title,
.journal-splash__subtitle {
  @include type-heading-small;
  font-family: Tiempos, Georgia, serif;
  font-weight: 400;
}

.journal-splash__title {
  @include spaced-caps;
  margin: 36px 40px 0 0;
}

.journal-splash__subtitle {
  font-style: italic; 
  margin: -1px 40px 10px 0;
}

.journal-splash__date {
  @extend %date;
}

.journal-splash__excerpt {
  @include type-body;
  font-family: Tiempos, serif;
  margin: 36px 40px 36px 0;
}

.journal-archive {
  grid-template-areas:  ". . kicker kicker entries entries entries entries entries entries entries entries . .";
  background-color: $dark-grey;
  padding-top: 120px;
  padding-bottom: 120px;
  // margin-top: 30px;
}

@media (max-width: 800px) {
  .journal-archive{
    grid-template-areas:  " . kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker . " 
    " . entries entries entries entries entries entries entries entries entries entries . ";
  }
}

@media (max-width: 650px) {
  .journal-archive{
    grid-template-areas:  " kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker " 
    "entries entries entries entries entries entries entries entries entries entries entries entries";
  }
}


.journal-archive__title, 
.journal-archive__subtitle {
  @include type-body;
  @include type-serif;
  font-weight: 400;
}


.journal-archive__title {
  @include spaced-caps;
  margin: 0;
  line-height: 30px;
  a {
    color: white;
    text-decoration: none;
  }
}

.journal-archive__subtitle {
  font-style: italic;
  margin-top: -3px;
  margin-bottom: 0;
  line-height: 30px;
}

.journal-archive__entry {
  color:white;
  padding-bottom:70px;
}

.journal-archive__kicker {
  grid-area: kicker;
  @include type-label;
  color: $journal-color;
  vertical-align: top;
  height: 100%;
}

.journal-archive__date {
  @include type-label;
  color: $journal-color;
  margin-top: 8px;
  margin-bottom: 24px;
}

.journal-archive__excerpt {
  @include type-small;
  @include type-serif;
  color: $faded-text;
  p {
    margin: 0;
  }
}

.journal-archive__link {
  @include type-small;
  @include type-sans;
  color: $faded-text;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

.journal-archive__link::after {
  content:' \00bb';
}

.journal-splash__link {
  @extend %block-button;
  @extend %block-button-type;
  background-color: black;
  color: $journal-color;
  display: inline-block;
}

.journal-splash__link:hover {
  @extend %block-button;
  color: black;
  background-color: $journal-color;
  display: inline-block;
}
