@import '../colors';
@import '../type.scss';
@import '../dimensions';

.journal-splash {
  grid-template-areas: " . text text text text text image image image image image image";
}

@media (max-width: 650px) {
  .journal-splash {
    grid-template-areas: " image image image image image image image image image image image image"
    " text text text text text text text text text text text text";
  }
}

.journal-splash__text {
  padding-top: 20px;
  grid-area: text;
}

.journal-splash__image {
  grid-area: image;
}

.journal-splash__image img{
  width:100%;
}


.journal-splash__kicker {
  font-weight: bold;
}
.journal-splash__title {
  font-family: Tiempos, serif;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.journal-splash__subtitle {
  font-family: Tiempos, serif;
  font-style: italic; 
  font-size: 24px;
}

.journal-splash__date {
  @extend %date;
}

.journal-splash__excerpt {
  font-family: Tiempos, serif;
}

.journal-archive {
  grid-template-areas:  " . kicker kicker entries entries entries entries entries entries entries entries .";
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .journal-archive{
    grid-template-areas:  " . kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker . " 
    " . entries entries entries entries entries entries entries entries entries entries . ";
  }
}

@media (max-width: 650px) {
  .journal-archive{
    grid-template-areas:  " kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker kicker " 
    "entries entries entries entries entries entries entries entries entries entries entries entries";
  }
}


.journal-archive__title {
  font-family: Tiempos, serif;
  /* text-rendering: optimizeLegibility; */
  text-transform: uppercase;
  font-weight:400;
  margin-top: 0px;
  a {
    color: white;
    text-decoration: none;
  }
}

.journal-archive__entry {
  color:white;
  padding-bottom:70px;
}

.journal-archive__kicker {
  grid-area: kicker;
  @extend %kicker;
  color: $journal-color;
  vertical-align: top;
  height: 100%;
}

.journal-archive__date {
  @extend %date;
  color: $journal-color;
}

.journal-archive__excerpt {
  font-family: Tiempos, serif;
}

.journal-archive__link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.journal-archive__link::after {
  content:' \00bb';
}

.journal-splash__link {
  @extend %block-button;
  background-color: black;
  color: $journal-color;
  display: inline-block;
}

.journal-splash__link:hover {
  @extend %block-button;
  color: black;
  background-color: $journal-color;
  display: inline-block;
}
