$activeMarker: 30px;

nav{
  position: fixed;
  height: $nav-height;
  width: 100%;
  top: 0px;
	background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.header-links{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

.header-link{
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  display:inline-block;
}

nav a{
	text-decoration: none;
  color:black;
  justify-content: space-between;
}

nav.clients{
	background-color: $clients-color;
}

nav.journal{
	background-color: $journal-color;
}

nav.about{
	background-color: $about-color;
}

nav.contact{
	background-color: $contact-color;
  color:$contact-text;
  fill:white;
}

nav.contact a{
	color:white;
}

.active-marker{
  position: absolute;
  display: inline-block;
  width: $activeMarker;
  height: $activeMarker;
  bottom: -($activeMarker / 2 - 6);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.active-marker-circle{
  width: $activeMarker;
  height: $activeMarker;
}

/* scroll behavior for home link */
.header-links.home-link{
  transition: visibility 0.3s linear,opacity 0.3s linear;
  visibility: hidden;
  opacity: 0;
}

.header-links.home-link.scrolled,
.header-links.home-link.persist
{
  visibility:visible;
  opacity:1;
}

.nav-place-holder{
	height: $nav-height;
}

.compact-nav{
  display: none;
}

nav.compact-menu{
  display: none;
  overflow: hidden;
  background: black;
  color:white;
  padding-left: 20px;
}

.compact-menu__link{
  color:white;
}

.compact-menu__title{
  color:rgba(255,255,255,0.5);
}

.close-menu-button{
  margin-top:15px;
  margin-right:10px;
}

.compact-menu__close-icon{

}

.compact-menu__head{
 display: flex;
 justify-content:space-between;
}

@media (max-width: 850px) {
  nav.compact-menu{
    display: block;
    position: relative;
    background: black;
    color:white;
  }

  nav.compact-menu.closed{
    position: fixed;
    height: 0vh;
  }

  nav.compact-menu.open{
    position: fixed;
    height: 1000vh;
  }

  .compact-menu a{
    display: block;
  }
  .compact-nav{
    display: flex;
  }

  .compact-menu__link{
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
  }

  .full-nav{
    display: none;
  }
}
