$activeMarker: 30px;

.site-header {
  z-index: 999;
}

nav {
  // position: fixed;
  width: 100%;
  top: 0px;
	background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

nav.full-nav {
  position: fixed;
}

nav {
  height: 50px;
  @include break(tiny)   {height: 52px;}
  @include break(small)  {height: 55px;}
}

.nav-place-holder { height: 0; }

nav, 
.nav-place-holder {
  @include break(medium) {height: 60px;}
  @include break(large)  {height: 62px;}
  @include break(huge)   {height: 63px;}
  @include break(mega)   {height: 64px;}
}

.header-links {
  display: inline-block;
  font-size: 32px;
  line-height: 118%;
  letter-spacing: -0.01em;
  font-weight: bold;
  padding-left: $column-gap;
  @include break(tiny)   { font-size: 25px; }
  @include break(small)  { font-size: 30px; }
  @include break(medium) { font-size: 32px; padding-left: $column-gap/2; padding-right: $column-gap/2; }
  @include break(large)  { font-size: 34px; padding: 0; }
  @include break(huge)   { font-size: 36px; }
  @include break(mega)   { font-size: 38px; }  
}

.header-link {
  position: relative;
  display: inline-block;
  padding-top: 4px;
  @include break(tiny)   { padding-top: 9px; }
  @include break(small)  { padding-top: 8px; }
  @include break(medium) { padding-left: $column-gap/2; padding-right: $column-gap/2; }
  @include break(large)  { padding-left: $column-gap; padding-right: $column-gap; }
  @include break(huge)   { padding-top: 7px; }
  @include break(mega)   { padding-top: 6px; }
}

.header-button {
  position: fixed;
  float: right;
  right: 0;
  @include break(medium) { display: none; }
}

.header-button, 
.close-menu-button {
  padding-top: 7px;
  padding-right: 7px;
  @include break(tiny)  { padding-top: 8px; padding-right: 8px; }
  @include break(small) { padding-top: 9px; padding-right: 9px; }
}

nav a {
	text-decoration: none;
  color:black;
  justify-content: space-between;
  &:hover {
    color: rgba(0,0,0,0.7);
  }
}

nav.clients {background-color: $clients-color;}
nav.journal {background-color: $journal-color;}
nav.about   {background-color: $about-color;}
nav.contact {background-color: $contact-color;}

.active-marker {
  position: absolute;
  display: inline-block;
  width: $activeMarker;
  height: $activeMarker;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  @include break(medium) { margin-top: 35px; }
  @include break(large)  { margin-top: 36px; }
}

.active-marker-circle {
  width: $activeMarker;
  height: $activeMarker;
}

/* scroll behavior for home link */
.header-links.home-link {
  transition: visibility 0.3s linear,opacity 0.3s linear;
  visibility: hidden;
  opacity: 0;
}

.header-links.home-link.scrolled,
.header-links.home-link.persist {
  visibility: visible;
  opacity: 1;
}

.full-nav {
  display: none;
  @include break(medium) {
    display: flex;
  }
}

.compact-nav {
  display: flex;
  @include break(medium) {
    display: none;
  }
}

nav.compact-menu {
  z-index: 1000; // need to fix this
  display: block;
  position: relative;
  background: #000;
  color: white;
  padding-left: 20px;
  a {
    display: block;
    color: white;
  }
  @include break(medium) { display: none; overflow: hidden; }
}

nav.compact-menu.closed {
  position: fixed;
  height: 0vh;
  @include break(medium) {display: none;}
}
nav.compact-menu.open {
  position: fixed;
  height: 1000vh;
  @include break(medium) {display: none;}
}


.compact-menu__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.compact-menu__head h2 {
  margin: 0;
}

.compact-menu__link, 
h2.compact-menu__title {
  font-size: 32px;
  line-height: 118%;
  letter-spacing: -0.01em;
  font-weight: bold;
  @include break(tiny)   { font-size: 25px; }
  @include break(small)  { font-size: 30px; }
}

h2.compact-menu__title {
  color:rgba(255,255,255,0.5);
  padding-top: 4px;
  @include break(tiny)   { padding-top: 9px; }
  @include break(small)  { padding-top: 8px; }
}

.compact-menu__link {
  padding: 10px 0;
}