.playbook {}


.playbook-standfirst {
	color: $playbook-color;
	padding: 70px 0;
	@include break(medium)  { padding: 85px 0 90px 0; }
	@include break(large)   { padding: 114px 0 120px 0; }
	h2 {
		@include type-heading-big;
		@include type-serif;
		font-weight: 400;
		margin: 0 0 19px;
		grid-column: 2 / span 12;
		@include break(tiny)    { grid-column: 3 / span 10; }
		@include break(medium)  { grid-column: 3 / span 9; }
		@include break(large)   { grid-column: 3 / span 8; }
		@include break(mega)    { grid-column: 4 / span 8; }
	}
}




