html {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Type mixins

@mixin type-serif { font-family: Tiempos, Georgia, serif; }
@mixin type-sans  { font-family: Graphik, sans-serif; }


@mixin type-body {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    @include break(small)  { font-size: 17px; line-height: 26px; }
    @include break(medium) { font-size: 18px; line-height: 28px; letter-spacing: -0.01em; }
    @include break(large)  { font-size: 19px; line-height: 30px; }
    // @include break(huge)   { font-size: 20px; line-height: 31px; }
}

// for things like the blog archive text
@mixin type-small {
    // font-family: Tiempos, Georgia, serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0em;
    @include break(medium) { font-size: 15px; line-height: 23px; }
    @include break(large)  { font-size: 16px; line-height: 24px; letter-spacing: -0.01em; }
}

@mixin type-very-small {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.02em;
    @include break(tiny)   { font-size: 11px; line-height: 19px; }
    @include break(medium) { font-size: 12px; line-height: 20px; letter-spacing: 0.01em; }
    @include break(large)  { font-size: 13px; line-height: 21px; }
}

@mixin type-label {
    font-family: Graphik, sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: 118%;
    letter-spacing: 0.02em;
    @include break(tiny)   { font-size: 11px; }
    @include break(medium) { font-size: 12px; }
    @include break(large)  { font-size: 13px; }
}

// The really big type on the homepage, top of project pages, etc.
@mixin type-heading-big {
    font-size: 31px;
    line-height: 35px;
    letter-spacing: -0.02em;
    @include break(tiny)   { font-size: 38px; line-height: 47px; }
    @include break(small)  { font-size: 46px; line-height: 52px; }
    @include break(medium) { font-size: 52px; line-height: 60px; }
    @include break(large)  { font-size: 56px; line-height: 64px; }
    @include break(huge)   { font-size: 60px; line-height: 67px; }
    @include break(mega)   { font-size: 64px; line-height: 70px; }
}

// Standard headings for the promo modules, etc.
@mixin type-heading-medium {
    font-size: 24px;
    line-height: 116%;
    letter-spacing: -0.01em;
    @include break(tiny)   { font-size: 27px; }
    @include break(small)  { font-size: 30px; }
    @include break(medium) { font-size: 32px; }
    @include break(large)  { font-size: 34px; }
    @include break(huge)   { font-size: 35px; }
    // @include break(mega)   { font-size: 35px; }
}

// Becuase at larger sizes the all-caps text looks too big, etc.
@mixin type-heading-medium-allCaps {
    font-size: 22px;
    line-height: 120%; // a little extra vertical spacing
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    @include break(tiny)   { font-size: 25px; }
    @include break(small)  { font-size: 28px; }
    @include break(medium) { font-size: 30px; }
    @include break(large)  { font-size: 32px; }
    @include break(huge)   { font-size: 33px; }
    // @include break(mega)   { font-size: 35px; }
}

@mixin type-heading-small {
    font-size: 18px;
    line-height: 118%;
    letter-spacing: -0.01em;
    @include break(tiny)   { font-size: 20px; }
    @include break(small)  { font-size: 22px; }
    @include break(medium) { font-size: 24px; }
    @include break(large)  { font-size: 25px; }
    @include break(huge)   { font-size: 26px; }
    @include break(mega)   { font-size: 27px; }
}


@mixin spaced-caps {
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

@mixin block-button {
    padding: 12.5px 15px 15.5px 15px;
    border: 0px;
    @include break(small)   {padding: 12px 15px 15.5px 15px;}
    @include break(medium) {padding: 13px 18px 17px 19px;}
    @include break(large)  {padding: 14px 20px 18px 21px;}
}

@mixin block-button-type {
    font-size: 16px;
    line-height: 16px; 
    letter-spacing: 0.01em;
    font-weight: bold;
    text-decoration: none;
    @include break(small)  { font-size: 17px; line-height: 17px; }
    @include break(medium) { font-size: 18px; line-height: 18px; }
    @include break(large)  { font-size: 19px; line-height: 19px; }
    @include break(huge)   { font-size: 20px; line-height: 20px; }
}


