html {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
}


// Type mixins

@mixin type-body {
    font-family: Tiempos, Georgia, serif;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.02em;
}

@mixin type-label {
    font-family: Graphik, sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.02em;
}

// The really big type on the homepage, top of project pages, etc.
@mixin type-heading-big {
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.02em;
}

// Standard headings for the promo modules, etc.
@mixin type-heading-small {
    font-size: 32px;
    line-height: 118%;
    letter-spacing: -0.01em;
}

%kicker{
    font-family: Graphik, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
}

%date{
    font-family: Graphik, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 118.1%;
}

%more-link{

}

%block-button{
    font-size: 21px;
    letter-spacing: 0.01em;
    padding: 13px 20px 18px 20px;
    border: 0px;
    font-weight: bold;
    text-decoration: none;
}

%promo-body{

}

%promo-headline{

}