html {
    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Type mixins

@mixin type-serif { font-family: Tiempos, Georgia, serif; }
@mixin type-sans  { font-family: Graphik, sans-serif; }


@mixin type-body {
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.01em;
    // @include break(tiny)   { font-size: 17px; line-height: 26px; }
    @include break(small)  { font-size: 18px; line-height: 27px; }
    @include break(medium) { font-size: 19px; line-height: 30px; letter-spacing: -0.01em; }
    @include break(large)  { font-size: 20px; line-height: 31px; }
    @include break(huge)   { font-size: 21px; line-height: 32px; }
}

@mixin type-small {
    font-family: Tiempos, Georgia, serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0em;
    @include break(medium) { font-size: 16px; line-height: 25px; }
    @include break(large)  { font-size: 17px; line-height: 26px; letter-spacing: -0.01em; }
}

@mixin type-very-small {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    @include break(tiny)   { font-size: 13px; line-height: 19px; }
    @include break(medium) { font-size: 14px; line-height: 20px; letter-spacing: 0.01em; }
    @include break(large)  { font-size: 15px; line-height: 21px; }
}

@mixin type-label {
    font-family: Graphik, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 118%;
    letter-spacing: 0.02em;
    @include break(tiny)   { font-size: 13px; }
    @include break(medium) { font-size: 14px; }
    @include break(large)  { font-size: 15px; }
}

// The really big type on the homepage, top of project pages, etc.
@mixin type-heading-big {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    @include break(tiny)   { font-size: 38px; line-height: 47px; }
    @include break(small)  { font-size: 46px; line-height: 52px; }
    @include break(medium) { font-size: 52px; line-height: 60px; }
    @include break(large)  { font-size: 56px; line-height: 65px; }
    @include break(huge)   { font-size: 60px; line-height: 67px; }
    @include break(mega)   { font-size: 64px; line-height: 70px; }
}

// Standard headings for the promo modules, etc.
@mixin type-heading-medium {
    font-size: 22px;
    line-height: 118%;
    letter-spacing: -0.01em;
    @include break(tiny)   { font-size: 25px; }
    @include break(small)  { font-size: 30px; }
    @include break(medium) { font-size: 32px; }
    @include break(large)  { font-size: 34px; }
    @include break(huge)   { font-size: 36px; }
    @include break(mega)   { font-size: 38px; }
}

@mixin type-heading-small {
    font-size: 18px;
    line-height: 118%;
    letter-spacing: -0.01em;
    @include break(tiny)   { font-size: 20px; }
    @include break(small)  { font-size: 22px; }
    @include break(medium) { font-size: 24px; }
    @include break(large)  { font-size: 25px; }
    @include break(huge)   { font-size: 26px; }
    @include break(mega)   { font-size: 27px; }
}


@mixin spaced-caps {
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

@mixin block-button {
    padding: 11px 16px 15px 16px;
    border: 0px;
    @include break(medium) {padding: 12px 18px 16px 18px;}
    @include break(large)  {padding: 13px 20px 18px 20px;}
}

@mixin block-button-type {
    font-size: 17px;
    letter-spacing: 0.01em;
    font-weight: bold;
    text-decoration: none;
    // @include break(tiny)   { font-size: 17px; }
    @include break(small)  { font-size: 18px; }
    @include break(medium) { font-size: 19px; }
    @include break(large)  { font-size: 20px; }
    @include break(huge)   { font-size: 21px; }
}


