.drop-shadow {
	-webkit-filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2));
	filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2));
}

.drop-shadow__light {
	-webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.1));
	filter: drop-shadow(0 2px 4px rgba(0,0,0,0.1));
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.no-top-margin {
	margin-top: 0 !important;
}

.mobile__no-top-margin {
	@media screen and (max-width: $screen-medium - 1px) {
		margin-top: 0 !important;
	}
}

.mobile__no-bottom-margin { 
	@media screen and (max-width: $screen-medium - 1px) {
		margin-bottom: 0 !important;
	}
}

.mobile__small-bottom-margin { 
	@media screen and (max-width: $screen-medium - 1px) {
		margin-bottom: 20px !important;
	}
}