.promo-right{
  grid-template-areas: "image image image image image image image text text text text .";
}

.promo-left{  
  grid-template-areas: ". text text text text image image image image image image image";
}
.promo-double{
  grid-template-areas: ". . lefttext lefttext lefttext lefttext righttext righttext righttext righttext . .";
}

@media (max-width: 650px) {
  .promo-left{
    grid-template-areas:
      ". image image image image image image image image image image image" 
      ". text text text text text text text text text text .";
  }
  .promo-right{
    grid-template-areas:
      "image image image image image image image image image image image ." 
      ". text text text text text text text text text text .";
  }

  .promo-left.text-first{
    grid-template-areas:
      ". text text text text text text text text text text . "
      ". image image image image image image image image image image image";
  }

  .promo-right.text-first{
    grid-template-areas:
      ". text text text text text text text text text text . "
      "image image image image image image image image image image image .";
  }
}

.promo-double__left{
  grid-area: lefttext;
}

.promo-double__right{
  grid-area: righttext;
}

.promo-right, .promo-left{
  margin-bottom: 100px;
}

.promo-left .promo__image{
  margin-right: calc(-$column-gap);
}

.promo-right .promo__image{
  margin-left: calc(-$column-gap);
}

.promo__text{
  grid-area: text;
}

.promo__image{
  background-size: auto 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  max-width: 100%;
  grid-area: image;
}

.promo__image img{
  width: 100%;
}

.client__promo-logo{
  display: block;
  width: 130px;
}

.splash{
  grid-template-areas:  " . intro intro intro intro intro intro . . . . . "
                        " . . . . . . promo promo promo promo promo promo ";
}

@media (max-width: 650px) {
  .splash{
    grid-template-areas:  " . intro intro intro intro intro intro intro intro intro intro . "
                          " . promo promo promo promo promo promo promo promo promo promo . ";
  }
}


.splash__intro{
  grid-area: intro;
}

.splash__intro__title{
  font-size: 54px;
}

.splash__intro__description{
  margin-top: 10px;
  font-size: 54px;
  line-height: 118%;
  letter-spacing: -0.03em;
}

.splash__promo{
  margin-right: 10px;
  grid-area: promo;
  background-color: #FFD600;
  padding: $promoPadding;
}

.splash__promo__date,
.light-archive__date{
  margin-top: -$promoPadding;
  margin-right: -$promoPadding;
  text-align:right;
}

.splash__promo__excerpt{
  font-style: italic; 
}

.splash__promo__link{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.splash__promo__link::after{
  content:' \00bb';
}


.archive-post-light{
  height: 100%;
  background-color: #FFD600;
  padding: $promoPadding;
}

.split-50-50-left{
  grid-area: auto / 2 / auto / 7;
}

.split-50-50-right{
  grid-area: auto / 7 / auto / 12;
}