.bold-content{
  grid-template-areas:  " . text text text text text text text . . . ."
}


@media (max-width: 650px) {
  .bold-content{
    grid-template-areas:  " . text text text text text text text text text text .";
  }
}

.bold-content__text {
  grid-area: text;
  font-family: Graphik;
  font-size: 32px;
  line-height: 140%;
}

label{
  display: block;
  width:  100%;
  background-color: #282828;
  color: #FFFFFF;
  padding: 20px;
}

input[type=text],
input[type=email],
textarea{
  width: 95%;
  border: 0px;
  background-color: #282828;
}

input[type=submit]{
  padding: 20px;
  border:0px;
  background-color: #E426DD;
  color: #000000;
  display: inline-block;
  font-size: 21px;
}

a.client__promo__link{
  padding: 20px;
  border:0px;
  background-color: #EEE;
  font-weight: bold;
  color: #FF611E;
  display: inline-block;
  font-size: 21px;
  text-decoration: none;
}

a.client__promo__link:hover{
  background-color: #FF611E;
  color: #000;
}