.article-head{
  font-family: Tiempos, serif;
  line-height: 35px;
  letter-spacing: -0.02em;

  h2{
    grid-column: 2 / span 6;
    font-family: Tiempos, serif;
    font-size: 32px;
    line-height: 118%;
    /* or 38px */
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.article-body{
  font-family: Tiempos, serif;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.02em;

  .article__date{
    grid-column: 2 / span 1;
    font-weight: bold;
    font-family: Graphik, sans-serif;
  }

  img, p, blockquote, figure, ul, div, h2, h3, h4 {
    grid-column: 4 / span 6;
  }

/* styles for excerpting text content */

  blockquote{
    background-color: #FFF9D8;
    margin: 0;
    padding: 21px 40px 21px 40px;
  }

  blockquote.pullquote{
    grid-column: 1 / span 6;
    font-family: Tiempos, serif;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.02em;
    padding: 30px 40px 30px 40px;
  }

  .indepth{
    background:gray;
  }

/* styles useful for images */
  .full-bleed{
    grid-column: 1 / span 12;
    width:100%;
  }

  img{
    width:100%;
  }
}