@import '../colors';

.journal-splash{
  grid-template-areas: " . text text text text text image image image image image image";
}

.journal-splash__text{
  padding-top: 20px;
  grid-area: text;
}

.journal-splash__image{
  grid-area: image;
}

.journal-archive{
  grid-template-areas:  " . kicker kicker entries entries entries entries entries entries entries entries .";
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.journal-archive__title{
  font-family: Tiempos Text, serif;
  text-transform: uppercase;
  a{
    color: white;
    text-decoration: none;
  }
}

.journal-archive__entry{
  color:white;
}

.journal-archive__kicker{
  grid-area: kicker;
  color: $journal-color;
  vertical-align: top;
  height: 100%;
}

.journal-archive__date{
  color: $journal-color;
}

.journal-archive__excerpt{
  font-family: Tiempos Text, serif;
}

.journal-archive__link{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.light-archive__excerpt{
  font-style: italic; 
}

.light-archive__link{
  color:black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.light-archive__link::after{
  content:' \00bb';
}