.journal-splash{
  grid-template-areas: " . text text text text text image image image image image image";
}

.journal-splash__text{
  grid-area: text;
}

.journal-splash__image{
  grid-area: image;
}

.journal-archive{
  grid-template-areas:  " . kicker kicker entries entries entries entries entries entries entries entries .";
  background-color: black;
}

.journal-archive__kicker{
  grid-area: kicker;
}

.light-archive__excerpt{
  font-style: italic; 
}

.light-archive__link{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.light-archive__link::after{
  content:' \00bb';
}